#content-wrapper
  %section#portfolio.white
    .container
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title= "Edit astronaut #{astronaut.full_name}"
        %hr/
        %p Lorem ipsum.