#preloader
%header.navbar.navbar-inverse.navbar-fixed-top{:role => "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %i.fa.fa-bars
      %a.navbar-brand{:href => "index.html"}
        %h1
          %i.fas.fa-globe
          Astronauts
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "index.html"} Home
        %li
          %a{:href => "about-us.html"} About Us
        %li
          %a{:href => "services.html"} Services
        %li
          %a{:href => "portfolio.html"} Portfolio
        %li
          %a{:href => "blog.html"} Blog
        %li
          %a{:href => "contact-us.html"} Contact
        %li.dropdown.active
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Pages
            %i.icon-angle-down
          %ul.dropdown-menu
            %li
              %a{:href => "project-item.html"} Project Single
            %li
              %a{:href => "blog-item.html"} Blog Single
            %li.active
              %a{:href => "404.html"} 404
        %li
          %span.search-trigger
            %i.fa.fa-search
/ /header
%section#main-slider.no-margin
  .carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      .item.active
        .container
          .row
            .col-sm-12
              .carousel-content.center.centered
                %h2.boxed.animation.animated-item-1.fade-down WE HAVE A LARGE ASTRONAUT DATABASE
                %p.boxed.animation.animated-item-2.fade-up You can also expand this database. Just register
                %br/
                %a.btn.btn-md.animation.bounce-in{:href => "#services"} Learn More
      / /.item
    / /.carousel-inner
  / /.carousel
/ /#main-slider
#content-wrapper
  %section#services.white
    .container
      .gap
      .row
        .col-md-12
          .center.gap.fade-down.section-heading
            %h2.main-title Stuff We Do
            %hr/
            %p Of an or game gate west face shed. ﻿no great but music too old found arose.
      .row
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              %i.fa.fa-camera.fa.fa-md
            .media-body.fade-up
              %h3.media-heading Photography
              %p Nay middleton him admitting consulted and behaviour son household. Recurred advanced he oh together entrance speedily suitable. Ready tried gay state fat could boy its among shall.
        / /.col-md-4
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              %i.fa.fa-thumbs-o-up.fa.fa-md
            .media-body.fade-up
              %h3.media-heading Marketing
              %p Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved.
        / /.col-md-4
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              %i.fa.fa-ticket.fa.fa-md
            .media-body.fade-up
              %h3.media-heading Event Management
              %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
        / /.col-md-4
      / /.row
      .gap
      .row
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              %i.fa.fa-star.fa.fa-md
            .media-body.fade-up
              %h3.media-heading Star Gazing
              %p Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its
        / /.col-md-4
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              %i.fa.fa-cogs.fa.fa-md
            .media-body.fade-up
              %h3.media-heading Software Support
              %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
        / /.col-md-4
        .col-md-4.col-sm-6
          .service-block
            .pull-left.bounce-in
              %i.fa.fa-google-plus.fa.fa-md
            .media-body.fade-up
              %h3.media-heading SEO Services
              %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.
        / /.col-md-4
      / /.row
    .gap
    .container
      .row
        .col-md-12
          .center.gap.fade-down.section-heading
            %h2.main-title Our Skills
            %hr/
            %p Of an or game gate west face shed. ﻿no great but music too old found arose.
    .container
      .row
        .col-md-3
          .tile-progress.tile-red.bounce-in
            .tile-header
              %h3 Video Editing
              %span Our cutting room floor is messy.
            .tile-progressbar
              %span{"data-fill" => "65.5%", :style => "width: 65.5%;"}
            .tile-footer
              %h4
                %span.pct-counter.counter> 65.5
                \%
        .col-md-3
          .tile-progress.tile-cyan.bounce-in
            .tile-header
              %h3 Marketing
              %span How well we can sell you and your brand.
            .tile-progressbar
              %span{"data-fill" => "98.5%", :style => "width: 98.5%;"}
            .tile-footer
              %h4
                %span.pct-counter.counter> 98.5
                \%
        .col-md-3
          .tile-progress.tile-primary.bounce-in
            .tile-header
              %h3 Web Development
              %span We love servers and stuff.
            .tile-progressbar
              %span{"data-fill" => "90%", :style => "width: 90%;"}
            .tile-footer
              %h4
                %span.pct-counter.counter> 90
                \%
        .col-md-3
          .tile-progress.tile-pink.bounce-in
            .tile-header
              %h3 Coffee
              %span We done make good joe, though.
            .tile-progressbar
              %span{"data-fill" => "10%", :style => "width: 10%;"}
            .tile-footer
              %h4
                %span.pct-counter.counter> 10
                \%
      / /.row
      .gap
  %section#single-quote.divider-section
    .container
      .gap
      .row
        .col-md-offset-2.col-md-8.fade-up
          #quote-carousel.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              .item.active
                %blockquote
                  .row
                    .col-sm-3.text-center
                      %img.img-responsive{:src => path_to_image("team/team01.jpg"), :style => "width: 100px;height:100px;"}/
                    .col-sm-9
                      %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                      %small Someone famous
      .gap
  %section#about-us.white
    .container
      .gap
      .row
        .col-md-12
          .center.gap.fade-down.section-heading
            %h2.main-title A Little About Us
            %hr/
            %p Of an or game gate west face shed. ﻿no great but music too old found arose.
      .row
        .col-md-10.col-md-offset-1.fade-up
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
          %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
        .col-md-4.fade-up
      .gap
      .row.fade-up
        .col-md-6
          .testimonial-list-item
            %img.pull-left.img-responsive.quote-author-list{:src => path_to_image("team/team01.jpg")}/
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Manager at
                %cite{:title => "Source Title"} Company
          .testimonial-list-item
            %img.pull-left.img-responsive.quote-author-list{:src => path_to_image("team/team01.jpg")}/
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Manager at
                %cite{:title => "Source Title"} Company
        .col-md-6
          .testimonial-list-item
            %img.pull-left.img-responsive.quote-author-list{:src => path_to_image("team/team01.jpg")}/
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Manager at
                %cite{:title => "Source Title"} Company
          .testimonial-list-item
            %img.pull-left.img-responsive.quote-author-list{:src => path_to_image("team/team01.jpg")}/
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              %small
                Manager at
                %cite{:title => "Source Title"} Company
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title Meet The Team
        %hr/
        %p Of an or game gate west face shed. ﻿no great but music too old found arose.
      .gap
      #meet-the-team.row
        .col-md-3.col-xs-6
          .center.team-member
            .team-image
              %img.img-responsive.img-thumbnail.bounce-in{:alt => "", :src => path_to_image("team/team01.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("team/team01.jpg"), :rel => "prettyPhoto"}
                  %i.fa.fa-eye
            .team-content.fade-up
              %h5
                Daniel Jones
                %small.role.muted Web Design
              %p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
              %a.btn.btn-social.btn-facebook{:href => "#"}
                %i.fa.fa-facebook
              %a.btn.btn-social.btn-google-plus{:href => "#"}
                %i.fa.fa-google-plus
              %a.btn.btn-social.btn-twitter{:href => "#"}
                %i.fa.fa-twitter
              %a.btn.btn-social.btn-linkedin{:href => "#"}
                %i.fa.fa-linkedin
        .col-md-3.col-xs-6
          .center.team-member
            .team-image
              %img.img-responsive.img-thumbnail.bounce-in{:alt => "", :src => path_to_image("team/team02.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("team/team02.jpg"), :rel => "prettyPhoto"}
                  %i.fa.fa-eye
            .team-content.fade-up
              %h5
                John Smith
                %small.role.muted Marketing Director
              %p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
              %a.btn.btn-social.btn-facebook{:href => "#"}
                %i.fa.fa-facebook
              %a.btn.btn-social.btn-google-plus{:href => "#"}
                %i.fa.fa-google-plus
              %a.btn.btn-social.btn-twitter{:href => "#"}
                %i.fa.fa-twitter
              %a.btn.btn-social.btn-linkedin{:href => "#"}
                %i.fa.fa-linkedin
        .col-md-3.col-xs-6
          .center.team-member
            .team-image
              %img.img-responsive.img-thumbnail.bounce-in{:alt => "", :src => path_to_image("team/team03.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("team/team03.jpg"), :rel => "prettyPhoto"}
                  %i.fa.fa-eye
            .team-content.fade-up
              %h5
                Dave Gorman
                %small.role.muted Web Design
              %p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
              %a.btn.btn-social.btn-facebook{:href => "#"}
                %i.fa.fa-facebook
              %a.btn.btn-social.btn-google-plus{:href => "#"}
                %i.fa.fa-google-plus
              %a.btn.btn-social.btn-twitter{:href => "#"}
                %i.fa.fa-twitter
              %a.btn.btn-social.btn-linkedin{:href => "#"}
                %i.fa.fa-linkedin
        .col-md-3.col-xs-6
          .center.team-member
            .team-image
              %img.img-responsive.img-thumbnail.bounce-in{:alt => "", :src => path_to_image("team/team04.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("team/team04.jpg"), :rel => "prettyPhoto"}
                  %i.fa.fa-eye
            .team-content.fade-up
              %h5
                Steve Smith
                %small.role.muted Sales Assistant
              %p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.
              %a.btn.btn-social.btn-facebook{:href => "#"}
                %i.fa.fa-facebook
              %a.btn.btn-social.btn-google-plus{:href => "#"}
                %i.fa.fa-google-plus
              %a.btn.btn-social.btn-twitter{:href => "#"}
                %i.fa.fa-twitter
              %a.btn.btn-social.btn-linkedin{:href => "#"}
                %i.fa.fa-linkedin
      / /#meet-the-team
      .gap
      .gap
  %section#stats.divider-section
    .gap
    .container
      .row
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              %i.fas.fa-globe
            %h1
              %span.counter 246000
            %h3 HOURS SAVED
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              %i.fas.fa-globe
            %h1
              %span.counter 16875
            %h3 FRESH IDEAS
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              %i.fas.fa-globe
            %h1
              %span.counter 99999999
            %h3 HUGE PROFIT
        .col-md-3.col-xs-6
          .center.bounce-in
            %span.stat-icon
              %i.fas.fa-globe
            %h1
              %span.counter 54875
            %h3 THINGS IN BOXES
    .gap
  %section#portfolio.white
    .container
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title Examples Of Excellence
        %hr/
        %p She evil face fine calm have now. Separate screened he outweigh of distance landlord.
      %ul.portfolio-filter.fade-down.center
        %li
          %a.btn.btn-outlined.btn-primary.active{"data-filter" => "*", :href => "#"} All
        %li
          %a.btn.btn-outlined.btn-primary{"data-filter" => ".apps", :href => "#"} Apps
        %li
          %a.btn.btn-outlined.btn-primary{"data-filter" => ".nature", :href => "#"} Nature
        %li
          %a.btn.btn-outlined.btn-primary{"data-filter" => ".design", :href => "#"} Design
      / /#portfolio-filter
      %ul.portfolio-items.col-3.isotope.fade-up
        %li.portfolio-item.apps.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio01.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio01.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.joomla.nature.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio02.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio02.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.bootstrap.design.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio03.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio03.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.joomla.design.apps.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio04.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio04.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.joomla.apps.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio05.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio05.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.wordpress.nature.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio06.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio06.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.joomla.design.apps.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio07.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio07.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.joomla.nature.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio08.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio08.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
        %li.portfolio-item.wordpress.design.isotope-item
          .item-inner
            %img{:alt => "", :src => path_to_image("portfolio/folio09.jpg")}/
            %h5 Portfolio Project
            .overlay
              %a.preview.btn.btn-outlined.btn-primary{:href => path_to_image("portfolio/folio09.jpg"), :rel => "prettyPhoto"}
                %i.fa.fa-eye
        / /.portfolio-item
  %section#testimonial-carousel.divider-section
    .gap
    .container
      .row
        .center.gap.fade-down.section-heading
          %h2.main-title What They Have Been Saying
          %hr/
          %p Of an or game gate west face shed. ﻿no great but music too old found arose.
          .gap
        .col-md-offset-2.col-md-8.fade-up
          #quote-carousel.carousel.slide{"data-ride" => "carousel"}
            / Bottom Carousel Indicators
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
            / Carousel Slides / Quotes
            .carousel-inner
              / Quote 1
              .item.active
                %blockquote
                  .row
                    .col-sm-3.text-center
                      %img.img-responsive{:src => path_to_image("team/team01.jpg"), :style => "width: 100px;height:100px;"}/
                    .col-sm-9
                      %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!
                      %small Someone famous
              / Quote 2
              .item
                %blockquote
                  .row
                    .col-sm-3.text-center
                      %img.img-responsive{:src => path_to_image("team/team02.jpg"), :style => "width: 100px;height:100px;"}/
                    .col-sm-9
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.
                      %small Someone famous
              / Quote 3
              .item
                %blockquote
                  .row
                    .col-sm-3.text-center
                      %img.img-responsive{:src => path_to_image("team/team03.jpg"), :style => "width: 100px;height:100px;"}/
                    .col-sm-9
                      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.
                      %small Someone famous
      .gap
  %section#blog.white
    .container
      .center.gap.fade-down.section-heading
        .gap
        %h2.main-title From The Blog
        %hr/
        %p Of an or game gate west face shed. ﻿no great but music too old found arose.
      .gap
      .row
        .col-md-4
          .post
            .post-img-content
              %img.img-responsive{:src => path_to_image("portfolio/folio02.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => "#"}
                  %i.fa.fa-link
            .content
              %h2.post-title Post Title
              .author
                %i.fa.fa-user
                By
                %b Author
                |
                %i.fa.fa-clock-o
                %time{:datetime => "2014-01-20"} April 11th, 2014
              %div
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              .read-more-wrapper
                %a.btn.btn-outlined.btn-primary{:href => "#"} Read more
        .col-md-4
          .post
            .post-img-content
              %img.img-responsive{:src => path_to_image("portfolio/folio06.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => "#"}
                  %i.fa.fa-link
            .content
              %h2.post-title Post Title
              .author
                %i.fa.fa-user
                By
                %b Author
                |
                %i.fa.fa-clock-o
                %time{:datetime => "2014-01-20"} April 11th, 2014
              %div
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              .read-more-wrapper
                %a.btn.btn-outlined.btn-primary{:href => "#"} Read more
        .col-md-4
          .post
            .post-img-content
              %img.img-responsive{:src => path_to_image("portfolio/folio11.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => "#"}
                  %i.fa.fa-link
            .content
              %h2.post-title Post Title
              .author
                %i.fa.fa-user
                By
                %b Author
                |
                %i.fa.fa-clock-o
                %time{:datetime => "2014-01-20"} April 11th, 2014
              %div
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              .read-more-wrapper
                %a.btn.btn-outlined.btn-primary{:href => "#"} Read more
      .gap
      .row
        .col-md-4
          .post
            .post-img-content
              %img.img-responsive{:src => path_to_image("portfolio/folio02.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => "#"}
                  %i.fa.fa-link
            .content
              %h2.post-title Post Title
              .author
                %i.fa.fa-user
                By
                %b Author
                |
                %i.fa.fa-clock-o
                %time{:datetime => "2014-01-20"} April 11th, 2014
              %div
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              .read-more-wrapper
                %a.btn.btn-outlined.btn-primary{:href => "#"} Read more
        .col-md-4
          .post
            .post-img-content
              %img.img-responsive{:src => path_to_image("portfolio/folio06.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => "#"}
                  %i.fa.fa-link
            .content
              %h2.post-title Post Title
              .author
                %i.fa.fa-user
                By
                %b Author
                |
                %i.fa.fa-clock-o
                %time{:datetime => "2014-01-20"} April 11th, 2014
              %div
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              .read-more-wrapper
                %a.btn.btn-outlined.btn-primary{:href => "#"} Read more
        .col-md-4
          .post
            .post-img-content
              %img.img-responsive{:src => path_to_image("portfolio/folio11.jpg")}/
              .overlay
                %a.preview.btn.btn-outlined.btn-primary{:href => "#"}
                  %i.fa.fa-link
            .content
              %h2.post-title Post Title
              .author
                %i.fa.fa-user
                By
                %b Author
                |
                %i.fa.fa-clock-o
                %time{:datetime => "2014-01-20"} April 11th, 2014
              %div
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book.
              .read-more-wrapper
                %a.btn.btn-outlined.btn-primary{:href => "#"} Read more
  %section#pricing.white
    .container
      .center.gap.fade-down.section-heading
        %h2.main-title So, How Much?
        %hr/
        %p Of an or game gate west face shed. ﻿no great but music too old found arose.
      .gap
      #pricing-table.row
        .col-md-3.col-xs-6.flip-in
          %ul.plan.plan1
            %li.plan-name
              %h3 Basic
            %li.plan-price
              %div
                %span.price
                  %sup> $
                  10
                %small month
            %li
              %strong 5GB
              Storage
            %li
              %strong 1GB
              RAM
            %li
              %strong 400GB
              Bandwidth
            %li
              %strong 10
              Email Address
            %li
              %strong Forum
              Support
            %li.plan-action
              %a.btn.btn-outlined.btn-primary.btn-md.btn-white{:href => "#"} Signup
        / /.col-md-3
        .col-md-3.col-xs-6.flip-in
          %ul.plan.plan2.featured
            %li.plan-name
              %h3 Standard
            %li.plan-price
              %div
                %span.price
                  %sup> $
                  20
                %small month
            %li
              %strong 5GB
              Storage
            %li
              %strong 1GB
              RAM
            %li
              %strong 400GB
              Bandwidth
            %li
              %strong 10
              Email Address
            %li
              %strong Forum
              Support
            %li.plan-action
              %a.btn.btn-outlined.btn-primary.btn-md{:href => "#"} Signup
        / /.col-md-3
        .col-md-3.col-xs-6.flip-in
          %ul.plan.plan3
            %li.plan-name
              %h3 Advanced
            %li.plan-price
              %div
                %span.price
                  %sup> $
                  40
                %small month
            %li
              %strong 50GB
              Storage
            %li
              %strong 8GB
              RAM
            %li
              %strong 1024GB
              Bandwidth
            %li
              %strong Unlimited
              Email Address
            %li
              %strong Forum
              Support
            %li.plan-action
              %a.btn.btn-outlined.btn-primary.btn-md.btn-white{:href => "#"} Signup
        / /.col-md-3
        .col-md-3.col-xs-6.flip-in
          %ul.plan.plan4
            %li.plan-name
              %h3 Mighty
            %li.plan-price
              %div
                %span.price
                  %sup> $
                  100
                %small month
            %li
              %strong 50GB
              Storage
            %li
              %strong 8GB
              RAM
            %li
              %strong 1024GB
              Bandwidth
            %li
              %strong Unlimited
              Email Address
            %li
              %strong Forum
              Support
            %li.plan-action
              %a.btn.btn-outlined.btn-primary.btn-md.btn-white{:href => "#"} Signup
        / /.col-md-3
      .gap
  #mapwrapper
    #map
  %section#contact.white
    .container
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title Get In Touch
        %hr/
        %p Of an or game gate west face shed. ﻿no great but music too old found arose.
      .gap
      .row
        .col-md-4.fade-up
          %h3 Contact Information
          %p
            %span.icon.icon-home>
            Time Square, New York
            %br/
            = succeed "+36" do
              %span.icon.icon-phone
            %br/
            = succeed "+36" do
              %span.icon.icon-mobile
            %br/
            %span.icon.icon-envelop
            %a{:href => "#"} email@infinityteam.com
            %br/
            %span.icon.icon-twitter
            %a{:href => "#"} @infinityteam.com
            %br/
            %span.icon.icon-facebook
            %a{:href => "#"} Infinity Agency
            %br/
        / col
        .col-md-8.fade-up
          %h3 Drop Us A Message
          %br/
          %br/
          #message
          %form#contactform{:action => "", :method => "post"}
            %input#name{:name => "name", :placeholder => "Name", :type => "text"}/
            %input#email{:name => "email", :placeholder => "Email", :type => "text"}/
            %input#website{:name => "website", :placeholder => "Website", :type => "text"}/
            %textarea#comments{:name => "comments", :placeholder => "Comments"}
            %input.btn.btn-outlined.btn-primary{:name => "submit", :type => "submit", :value => "Submit"}/
        / col
      / row
      .gap
#footer-wrapper
  %section#bottom
    .container
      .row
        .col-md-3.col-sm-6.about-us-widget
          %h4 Global Coverage
          %p Was drawing natural fat respect husband. An as noisy an offer drawn blush place. These tried for way joy wrote witty. In mr began music weeks after at begin.
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Company
          %div
            %ul.arrow
              %li
                %a{:href => "#"} Company Overview
              %li
                %a{:href => "#"} Meet The Team
              %li
                %a{:href => "#"} Our Awesome Partners
              %li
                %a{:href => "#"} Our Services
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Latest Articles
          %div
            .media
              .pull-left
                %img.widget-img{:alt => "", :src => path_to_image("portfolio/folio01.jpg")}/
              .media-body
                %span.media-heading
                  %a{:href => "#"} Blog Post A
                %small.muted Posted 14 April 2014
            .media
              .pull-left
                %img.widget-img{:alt => "", :src => path_to_image("portfolio/folio02.jpg")}/
              .media-body
                %span.media-heading
                  %a{:href => "#"} Blog Post B
                %small.muted Posted 14 April 2014
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Come See Us
          %address
            %strong Ace Towers
            %br/
            New York Ave,
            %br/
            New York, 215648
            %br/
            %abbr{:title => "Phone"}
              %i.fa.fa-phone
            546 840654 05
        / /.col-md-3
  / /#bottom
  %footer#footer
    .container
      .row
        .col-sm-8
          © 2021 Astronauts
        .col-sm-4
          %ul.pull-right
            %li
              %a#gototop.gototop{:href => "#"}
                %i.fa.fa-chevron-up
            / #gototop

