%section#single-page-slider.no-margin
  .carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      .item.active
        .container
          .row
            .col-md-12
              .center.gap.fade-down.section-heading
                %h2.main-title All astronauts
                %hr/
                %p This is the list of all astronauts.
#content-wrapper
  %section#portfolio.white
    .container
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title List of astronauts
        %hr/
        = flash_messages_for
      %ul.portfolio-filter.fade-down.center
        %li
          %a.btn.btn-outlined.btn-primary.active{"data-filter" => "*", :href => "#"} All
        %li
          %a.btn.btn-outlined.btn-primary{"data-filter" => ".mens", :href => "#"} Mens
        %li
          %a.btn.btn-outlined.btn-primary{"data-filter" => ".womens", :href => "#"} Womens
      %ul.portfolio-items.col-3.isotope.fade-up
        - if @astronauts.present?
          - @astronauts.each do |astronaut|
            = render "astronauts/astronaut", astronaut: astronaut
        - else
          %p NO DATA!
