#content-wrapper
  %section#portfolio.white
    .container
      .gap
      .center.gap.fade-down.section-heading
        %h2.main-title Sign in
        %hr/
      .gap
      %h2 You're Logged out! Please Sign In!
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br
      %br