#footer-wrapper
  %section#bottom
    .container
      .row
        .col-md-3.col-sm-6.about-us-widget
          %h4 Global Coverage
          %p Was drawing natural fat respect husband. An as noisy an offer drawn blush place. These tried for way joy wrote witty. In mr began music weeks after at begin.
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Company
          %div
            %ul.arrow
              %li
                %a{:href => "#"} Company Overview
              %li
                %a{:href => "#"} Meet The Team
              %li
                %a{:href => "#"} Our Awesome Partners
              %li
                %a{:href => "#"} Our Services
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Latest Articles
          %div
            .media
              .pull-left
                %img.widget-img{:alt => "", :src => path_to_image("portfolio/folio01.jpg")}/
              .media-body
                %span.media-heading
                  %a{:href => "#"} Blog Post A
                %small.muted Posted 14 April 2014
            .media
              .pull-left
                %img.widget-img{:alt => "", :src => path_to_image("portfolio/folio02.jpg")}/
              .media-body
                %span.media-heading
                  %a{:href => "#"} Blog Post B
                %small.muted Posted 14 April 2014
        / /.col-md-3
        .col-md-3.col-sm-6
          %h4 Come See Us
          %address
            %strong Ace Towers
            %br/
            New York Ave,
            %br/
            New York, 215648
            %br/
            %abbr{:title => "Phone"}
              = fa_icon "phone"
            546 840654 05
        / /.col-md-3
  / /#bottom
  %footer#footer
    .container
      .row
        .col-sm-8
          © 2021 Astronauts
        .col-sm-4
          %ul.pull-right
            %li
              %a#gototop.gototop{:href => "#"}
                = fa_icon "chevron-up"
            / #gototop

