#preloader
%header.navbar.navbar-inverse.navbar-fixed-top{:role => "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        = fa_icon "bars"
      %a.navbar-brand{:href => root_path}
        %h1
          = fa_icon "globe"
          Astronauts
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => root_path} Home
        %li.dropdown.active
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Astronauts
            %i.icon-angle-down
          %ul.dropdown-menu
            %li.active
              %a{:href => astronauts_path} All astronauts
            %li
              %a{:href => new_astronaut_path} Create new astronaut
            %li
              %a{:href => new_xml_import_astronauts_path} Import astronauts from XML
        %li
          = render "users/sessions/sign_in_with_google"